<% if !@user.avatar_file_name.nil? %>
  <p class="center"><%= image_tag @user.avatar.url(:medium), class: "avatar1" %></p>
<% else %>
  <p class="center"><img class="avatar1" src="<%= asset_path("anonymous.jpg") %>" /></p>
<% end %>


<% if !@user.first_name.empty? || !@user.last_name.empty? %>
  <p class="name">
    <%= full_name %>
  </p>
<% else %>
  <p class="name">
    Anonymous
  </p>
<% end %>
<div class="user-show-menu">
  <% if !@user.city.to_s.empty? && !@user.state.to_s.empty? %>
    <p class="user-location">
      Location: <%= location %>
    </p>
  <% elsif !@user.city.to_s.empty? %>
    <p class="user-location">
      City: <%= @user.city %>
    </p>
  <% elsif !@user.state.to_s.empty? %>
    <p class="user-location">
      Province/State: <%= @user.state %>
    </p>
  <% else %>
    <p class="user-location">
      Not from this world!
    </p>
  <% end %>
</div>

<div class="jumbotron user-jumbotron">
  <div class="container">
    <p><%= @user.about_me %></p>
  </div>
</div>

<% @user.images.order("id DESC").each do |image| %>
  <%= link_to (image_tag image.image.url(:medium), class: "image1"), image %>
  <div class="index-margin">
    <%= link_to like_image_path(image), method: :get, class: "data hover" do %>
      <i class="glyphicon glyphicon-thumbs-up"><%= pluralize(image.get_upvotes.size, "Like") %></i>
    <% end %>
    <%= link_to dislike_image_path(image), method: :get, class: "data hover" do %>
      <i class="glyphicon glyphicon-thumbs-down"><%= pluralize(image.get_downvotes.size, "Dislike") %></i>
    <% end %>
    <div class="middle-index">
      <% if !image.user.avatar_file_name.nil? %>
        <%= link_to image.user, class: "hover" do %>
          <%= image_tag image.user.avatar.url(:small), class: "avatar" %>
        <% end %>
      <% else %>
        <%= link_to image.user, class: "hover" do %>
          <img class="avatar" src="<%= asset_path("anonymous.jpg") %>" />
        <% end %>
      <% end %>
      <% if !image.user.first_name.empty? || !image.user.last_name.empty? %>
        <%= link_to full_name, image.user, class: "disappear" %>
      <% else %>
        <%= link_to "Anonymous Author", image.user, class: "disappear" %>
      <% end %>
    </div>
    <p class="posted">Posted <%= time_ago_in_words(image.created_at) %> ago</p>
  </div>
<% end %>
