<h1>Your Profile</h1>

<% if @user.avatar_file_name.nil? %>
  <img class="avatar1" src="<%= asset_path("anonymous.jpg") %>" />
<% else %>
  <p>
    <%= image_tag @user.avatar.url(:medium), class: "avatar" %>
  </p>
<% end %>

<% if !@user.first_name.empty? || !@user.last_name.empty? %>
  <p>
    Name: <%= full_name %>
  </p>
<% else %>
  <p>
    Anonymous
  </p>
<% end %>

<p>
  Email: <%= @user.email %>
</p>

<% if !@user.city.nil? && !@user.state.nil? %>
  <p>
    Location: <%= location %>
  </p>
<% elsif !@user.city.nil? %>
  <p>
    City: <%= @user.city %>
  </p>
<% elsif !@user.state.nil? %>
  <p>
    Province/State: <%= @user.state %>
  </p>
<% else %>
  <p>
    Not from this world!
  </p>
<% end %>

<%= link_to "Settings", edit_user_registration_path %>
