<%= form_for @image, html: { multipart: true } do |f| %>
  <% if image.errors.any? %>
    <div class="alert alert-danger">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <% image.errors.full_messages.each do |message| %>
          <p><%= message %></p>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= f.submit "Submit", class: "submit" %>
  </div>
<% end %>
