<h1 class="show-page-title disappear1 get-smaller"><%= @image.title %></h1>
<%= image_tag @image.image.url(:small), class: "image" %>
<div class="index-margin">
  <%= link_to like_image_path(@image), method: :get, class: "data hover" do %>
    <i class="fa fa-thumbs-o-up"><%= pluralize(@image.get_upvotes.size, "Like") %></i>
  <% end %>
  <%= link_to dislike_image_path(@image), method: :get, class: "data hover" do %>
    <i class="fa fa-thumbs-o-down"><%= pluralize(@image.get_downvotes.size, "Dislike") %></i>
  <% end %>
  <div class="middle-index">
    <% if !@image.user.avatar_file_name.nil? %>
      <%= link_to @image.user, class: "hover" do %>
        <%= image_tag @image.user.avatar.url(:small), class: "avatar" %>
      <% end %>
    <% else %>
      <%= link_to @image.user, class: "hover" do %>
        <img class="avatar" src="<%= asset_path("anonymous.jpg") %>" />
      <% end %>
    <% end %>
    <% if !@image.user.first_name.empty? || !@image.user.last_name.empty? %>
      <%= link_to full_name1, @image.user, class: "disappear" %>
    <% else %>
      <%= link_to "Anonymous Author", @image.user, class: "disappear" %>
    <% end %>
  </div>
  <p class="posted">Posted <%= time_ago_in_words(@image.created_at) %> ago</p>
</div>
<div class="jumbotron application-jumbotron margin-b disappear1">
  <div class="container">
    <% if !@image.description.empty? %>
      <h1 class="get-smaller">Author's Thoughts:</h1>
      <p class="get-small"><%= @image.description %></p>
    <% else %>
      <h1 class="get-smaller">Author's Thoughts:</h1>
      <p class="get-small">No description</p>
    <% end %>
  </div>
</div>


<% if @image.user_id == current_user.id %>
  <p class="edit-delete"><%= link_to 'Edit', edit_image_path %> | <%= link_to "Delete", image_path, method: :delete, data: { confirm: "Are you sure?" } %></p>
<% end %>
