<h1><%= @image.title %></h1>
<div>
  <%= image_tag @image.image.url(:medium) %>
</div>
<p>
  Posted <%= time_ago_in_words(@image.created_at) %> ago
</p>
<% if !@image.user.first_name.empty? || !@image.user.last_name.empty? %>
  <p>
    Shared by <%= link_to full_name1, @image.user %>
  </p>
<% else %>
  <p>
    Anonymous Author
  </p>
<% end %>
<% if !@image.description.empty? %>
  <div>
    Author's Thoughts: <br />
    <p>
      <%= @image.description %>
    </p>
  </div>
<% else %>
  <p>
    No description
  </p>
<% end %>
<%= link_to like_image_path(@image), method: :get, class: "data" do %>
  <i class="fa fa-thumbs-o-up"><%= pluralize(@image.get_upvotes.size, "Like") %></i>
<% end %>
<%= link_to dislike_image_path(@image), method: :get, class: "data" do %>
  <i class="fa fa-thumbs-o-down"><%= pluralize(@image.get_downvotes.size, "Dislike") %></i>
<% end %>
<% if @image.user_id == current_user.id %>
  <p>
    <%= link_to 'Edit', edit_image_path %> | <%= link_to "Delete", image_path, method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
<% end %>
